    <main class="vh-100 ">
        <div class="container ">
            <div class="row align-items-start">
                <div class="col">
                    <h1 class="display-3">Agencia Voo Feliz</h1>
                    <p class="lead">
                        Trabalhamos para tornar sua viagem uma experiência incrível!
                    </p>
                    <a type="button" class="btn btn-primary" asp-controller="Clientes" asp-action="Create">Cadastrar</a>
                </div>
                <div class="col">
                    <img src="~/images/0-main.png" class="img-fluid" alt="...">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row align-items-start">
                <div class="col">
                    <img src="~/images/1-quem-somos.png" class="img-fluid" alt="...">
                </div>
                <div class="col">
                    <h1 class="display-3">Quem somos</h1>
                    <p class="lead">
                        Agencia de viagem especializada em tornar sonhos em realidade. Dispomos dos profissionais mais qualificados do mercado, prontos para lhe auxiliar.
                    </p>
                    <p class="lead">
                        A empresa Voo Feliz tem por objetivo ser a melhor agencia de viagem do mundo, entregando qualidade e experiêncas ótimas.
                    </p>
                </div>
            </div>
        </div>
    </main>