 <main class="vh-100 mb-5 ">
        <div class="container ">
            <h1 class="display-3 mt-4 mb-4">Promoções</h1>
            <div class="row align-items-center">
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="~/images/card1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Praia Recode 1</h5>
                            <p class="card-text">Se você sempre sonho com um lugar pra chamar de seu, venha se divertir e conhecer esse lugar.</p>
                            <a type="button" class="btn btn-primary" asp-controller="Clientes" asp-action="Create">Quero conhecer</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="~/images/card2.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Praia da Recode 2</h5>
                            <p class="card-text">Venha curtir seu fim de ano nessa praia paradisíaca com seus amigos e amores.</p>
                            <a type="button" class="btn btn-primary" asp-controller="Clientes" asp-action="Create">Quero conhecer</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="~/images/card3.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">Praia Recode 3</h5>
                            <p class="card-text">O local perfeito para tirar férias e dar aquela descansada da rotina.</p>
                            <a type="button" class="btn btn-primary" asp-controller="Clientes" asp-action="Create">Quero conhecer</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </main>
